@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*Убираем линии обводки некоторых браузеров*/
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/*задаем блочными теги Html5*/
nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: "Lato", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 30px;
  font-size: 20px;
  color: #1e1744;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*задаем наследование шрифтов*/
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

header {
  background-color: rgba(196, 196, 196, 0.3);
  overflow: hidden;
  font-family: 'Rubik', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  margin-left: 440px;
  margin-top: 10px;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.headerlink {
  font-family: 'Rubik', sans-serif;
  color: black;
  font-weight: 400;
  font-size: 25px;
  text-decoration: none;
  margin-right: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 44px;
}

header a {
  text-decoration: none;
  color: black;
}

.ah {
  margin-left: 73px;
}

.text1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: black;
  margin-top: 166px;
}

.textlow1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: black;
  margin-top: 62px;
}

.bottom1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 20px;
  background-color: #7D946E;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 51px;
  padding-right: 51px;
  color: #ffffff;
  width: 290px;
  border-radius: 5px;
  margin-top: 76px;
}

.sec1 {
  overflow: hidden;
  background: url(img/16.png) center/cover no-repeat;
  width: 100%;
  height: 670px;
}

.sec1in {
  margin-left: 425px;
}

a {
  text-decoration: none;
}

.text2 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: black;
  margin-top: 123px;
}

.text2low {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: black;
  margin-top: 48px;
  text-align: center;
}

.sec2 {
  background-color: #F8E3CA6B;
}

.te {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 129px;
  margin-top: 10px;
  margin-bottom: 120px;
}

.sec2in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 419px;
  margin-right: 480px;
}

.bottom2 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 20px;
  background-color: #7D946E;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 51px;
  padding-right: 51px;
  color: #ffffff;
  width: 272px;
  border-radius: 5px;
  margin-top: 76px;
  text-align: center;
}

.pic {
  margin-top: 74px;
  margin-bottom: 74px;
}

.card {
  background-color: #7D946E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 298px;
  height: 390px;
  border-radius: 5px;
  padding-top: 85px;
  padding-bottom: 24px;
}

.sec3in {
  background-color: #DFDFDE91;
  padding-top: 46px;
  padding-bottom: 110px;
}

.bottom3 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 20px;
  background-color: none;
  padding-top: 9px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  color: #ffffff;
  width: 178px;
  border-radius: 5px;
  margin-top: 76px;
  outline: 2px solid white;
  text-align: center;
}

.text3 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cardin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 421px;
  margin-right: 421px;
  margin-top: 117px;
}

.sec4in {
  background-color: #F8E3CA;
  padding-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

.gr {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 403px 20px 193px 20px 403px;
      grid-template-columns: 403px 20px 193px 20px 403px;
  -ms-grid-rows: 408px 20px 408px;
      grid-template-rows: 408px 20px 408px;
  margin-top: 74px;
}

.i1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.i2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
}

.i3 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.i4 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
}

.texto {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: black;
}

.textolow {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: black;
  margin-top: 30px;
}

.slider {
  max-width: 800px;
  width: 100%;
  margin-right: 110px;
}

.otziv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 35px;
}

.slick-slide {
  margin-left: 300px;
}

.slick-prev {
  position: absolute;
  top: 125px;
  left: -90px;
}

.slick-next {
  position: absolute;
  top: 125px;
  right: -30px;
}

.otzblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 84px;
  margin-left: 503px;
  width: 800px;
}

.sec5in {
  padding-bottom: 125px;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.im {
  width: 130px;
  height: 130px;
  margin-top: 10px;
}

footer {
  background-color: #7D946E;
  padding-top: 41px;
  padding-bottom: 41px;
  padding-left: 547px;
  padding-right: 547px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.soc {
  margin-top: 15px;
}

.isoc {
  margin-left: 50px;
}

.sec5 {
  overflow: hidden;
  background: url(img/17.png) center/cover no-repeat;
  width: 100%;
  height: 440px;
}

.bottom1:hover {
  background-color: #4A5940;
}

.bottom2:hover {
  background-color: #4A5940;
}

.bottom3:hover {
  background-color: white;
  color: #4A5940;
}

.tab.is-active {
  display: block;
}

.tab {
  display: none;
}

.tabs {
  padding-top: 60px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F8E3CA;
}

.s5-left__text {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 20px;
  padding-top: 32px;
  outline: 2px solid #4A5940;
  width: 506px;
  height: 100px;
  text-align: center;
  margin-top: 10px;
}

.tabs-nav__item {
  background-color: #4A5940;
  color: #ffffff;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 101;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 380px;
  min-height: 350px;
  background-color: #4A5940;
  z-index: 103;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal button {
  width: 134px;
  height: 42px;
  font-size: 16px;
  background-color: #7D946E;
  outline: 2px solid #fff;
  margin-right: 150px;
  margin-left: 120px;
  color: #2C2D49;
  font-family: 'Rubik', sans-serif;
}

.modal button:hover {
  background-color: #FFFFFF;
}

.close {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 102;
  cursor: pointer;
}

.x {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: 7px;
  opacity: 0.5;
  cursor: pointer;
}

.modal-big {
  font-family: 'Rubik', sans-serif;
  font-size: 25px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.modal-text {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

input {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
